#banner-section {
    background-image: url("./assets/hero-flower.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.font-inter{
font-family: 'Inter', sans-serif;
}

.font-noto{
font-family: 'Noto Serif', serif;
}